flow_2.json
[
    {
        "id": "2a91a2c0.52a6fe",
        "type": "tab",
        "label": "Learning Node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9ce7e5e.0731118",
        "type": "tab",
        "label": "Exercise1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bded3231.e0ba2",
        "type": "tab",
        "label": "Exercise2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "12e0a2fb.e07ebd",
        "type": "tab",
        "label": "Exercise3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cc83cb19.0ac2b8",
        "type": "tab",
        "label": "Storing data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "70191b0f.1b0ea4",
        "type": "tab",
        "label": "Exercise4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cd246ae6.279458",
        "type": "tab",
        "label": "Exercise 1.3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7d9f1eaf.4ead8",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "2bd0ec04.889834",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Name\":\"Evis\",\"Surname\":\"Vasiu\",\"Info\":{\"Hobby\":\"Runnnig\",\"Age\":\"30\",\"Job\":\"Engineer\"}}",
        "payloadType": "json",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "9aac4a90.31dc98",
                "a0d54ac5.630788",
                "c3918434.51d108"
            ]
        ]
    },
    {
        "id": "9aac4a90.31dc98",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "Extracting Name",
        "func": "msg.payload = msg.payload.Name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "7d9f1eaf.4ead8"
            ]
        ]
    },
    {
        "id": "c3918434.51d108",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "Extracting Age",
        "func": "msg.payload = msg.payload.Info.Age;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "c49315d6.e5da28"
            ]
        ]
    },
    {
        "id": "c49315d6.e5da28",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "a0d54ac5.630788",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "Name lenth",
        "func": "msg.payload = msg.payload.Name.length;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "6243d9bd.364e48"
            ]
        ]
    },
    {
        "id": "6243d9bd.364e48",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "1fad8a61.c65a26",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "e4da9165.f2de4"
            ]
        ]
    },
    {
        "id": "4797889f.b1d518",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "e4da9165.f2de4",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "Multiple messages",
        "func": "var msg1 = {payload : \"Evis\"};\nvar msg2 = {payload : \"Vasiu\"};\nvar msg3 = {payload : \"Engineer\"};\nvar msg4 = {payload : \"Running\"};\n\nreturn [msg1, msg2, msg3, msg4];\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "4797889f.b1d518"
            ],
            [
                "98349a6b.eab548"
            ],
            [
                "163520.2ff43ae1"
            ],
            [
                "41a3e4ac.dccbec"
            ]
        ]
    },
    {
        "id": "98349a6b.eab548",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "163520.2ff43ae1",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "41a3e4ac.dccbec",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "b57b8f05.81351",
        "type": "inject",
        "z": "9ce7e5e.0731118",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "88555e0.0deb2a"
            ]
        ]
    },
    {
        "id": "88555e0.0deb2a",
        "type": "function",
        "z": "9ce7e5e.0731118",
        "name": "2A+50",
        "func": "msg.payload = msg.payload * 2 +50;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "edc2dfa2.71c17"
            ]
        ]
    },
    {
        "id": "edc2dfa2.71c17",
        "type": "function",
        "z": "9ce7e5e.0731118",
        "name": "",
        "func": "if (msg.payload > 100)\n{\n    msg.payload = true;\n    \n}\nelse\n{\n    msg.payload = false;\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "f11200f5.c6287"
            ]
        ]
    },
    {
        "id": "f11200f5.c6287",
        "type": "debug",
        "z": "9ce7e5e.0731118",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "cb895b32.508398",
        "type": "inject",
        "z": "9ce7e5e.0731118",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "966fea28.9dd478"
            ]
        ]
    },
    {
        "id": "966fea28.9dd478",
        "type": "function",
        "z": "9ce7e5e.0731118",
        "name": "",
        "func": "var msg1 = {payload : \"Hello World\"};\nvar msg2 = {payload : \"Node-RED is fun\"};\nvar msg3 = {payload : \"Thank you Dr.Code for the exercise\"};\nvar msg4 = {payload : \"Let's move on the next lextre\"};\n\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "f3bb44d4.b52028"
            ],
            [
                "e2c20c63.f6ecd"
            ],
            [
                "4e11c279.9288ac"
            ],
            [
                "b0dc2238.6e989"
            ]
        ]
    },
    {
        "id": "f3bb44d4.b52028",
        "type": "debug",
        "z": "9ce7e5e.0731118",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "e2c20c63.f6ecd",
        "type": "debug",
        "z": "9ce7e5e.0731118",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "4e11c279.9288ac",
        "type": "debug",
        "z": "9ce7e5e.0731118",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "b0dc2238.6e989",
        "type": "debug",
        "z": "9ce7e5e.0731118",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "8e58732d.98ca5",
        "type": "inject",
        "z": "9ce7e5e.0731118",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "19",
        "payloadType": "num",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "88555e0.0deb2a"
            ]
        ]
    },
    {
        "id": "bdc46744.b21948",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Evis",
        "payloadType": "str",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "c8a3afd6.ca467"
            ]
        ]
    },
    {
        "id": "2334919f.46c65e",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "John",
        "payloadType": "str",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "c8a3afd6.ca467"
            ]
        ]
    },
    {
        "id": "c8a3afd6.ca467",
        "type": "switch",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Evis",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "John",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "5753d3c4.637e1c"
            ],
            [
                "5753d3c4.637e1c"
            ]
        ]
    },
    {
        "id": "5753d3c4.637e1c",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "func": "if (msg.payload == \"Evis\")\n{\n    var msg1 = {payload : \"Hello Evis\"};\n    return [msg1];\n    \n}\nif (msg.payload == \"John\")\n{\n    var msg2 = {payload : \"Hello John\"};\n    return [msg2];\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 560,
        "wires": [
            [
                "6a3f1c2b.60bc14"
            ]
        ]
    },
    {
        "id": "6a3f1c2b.60bc14",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "404a338d.a9a2ac",
        "type": "change",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Goodmorning",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 740,
        "wires": [
            [
                "63c48035.e08"
            ]
        ]
    },
    {
        "id": "9814069e.beaac8",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Ckemi",
        "payloadType": "str",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "404a338d.a9a2ac",
                "b764014f.fe919"
            ]
        ]
    },
    {
        "id": "63c48035.e08",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "b764014f.fe919",
        "type": "change",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Hello",
                "fromt": "str",
                "to": "Goodevening",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 800,
        "wires": [
            [
                "99b483eb.5b39e"
            ]
        ]
    },
    {
        "id": "dbaac3c6.431c5",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "b764014f.fe919"
            ]
        ]
    },
    {
        "id": "99b483eb.5b39e",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "96e02ac7.cda5c8",
        "type": "change",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 880,
        "wires": [
            [
                "972a3750.8d8c28"
            ]
        ]
    },
    {
        "id": "aa0d2749.b8fa88",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "plako",
        "payload": "Ckemi",
        "payloadType": "str",
        "x": 180,
        "y": 880,
        "wires": [
            [
                "96e02ac7.cda5c8"
            ]
        ]
    },
    {
        "id": "972a3750.8d8c28",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 880,
        "wires": []
    },
    {
        "id": "d1a6c24b.e309a",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello Mr. Vasiu",
        "payloadType": "str",
        "x": 190,
        "y": 960,
        "wires": [
            [
                "61954e0f.2d764",
                "6a7fdedc.5fab6"
            ]
        ]
    },
    {
        "id": "61954e0f.2d764",
        "type": "split",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 430,
        "y": 960,
        "wires": [
            [
                "845822cc.9b97"
            ]
        ]
    },
    {
        "id": "845822cc.9b97",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 980,
        "wires": []
    },
    {
        "id": "6a7fdedc.5fab6",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b5829e2c.13cbc",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "json",
        "payload": "{\"Location\":\"Tirana\",\"Name\":\"Evis\",\"Surname\":\"Vasiu\"}",
        "payloadType": "json",
        "x": 160,
        "y": 1160,
        "wires": [
            [
                "fab60501.3f6bf8",
                "18d92b8c.7aa7a4"
            ]
        ]
    },
    {
        "id": "5171db1.0dc7e24",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "fab60501.3f6bf8",
        "type": "split",
        "z": "2a91a2c0.52a6fe",
        "name": "jSON",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "info",
        "x": 360,
        "y": 1160,
        "wires": [
            [
                "5171db1.0dc7e24"
            ]
        ]
    },
    {
        "id": "18d92b8c.7aa7a4",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1200,
        "wires": []
    },
    {
        "id": "9e34cd66.2219e",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "Json",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Job1\":[{\"Name\":\"Evis\",\"Surname\":\"Vasiu\",\"Location\":\"Lushnje\"},{\"Name\":\"Evis\",\"Surname\":\"Vasiu\",\"Location\":\"Tirana\"},{\"Name\":\"Evis\",\"Surname\":\"Vasiu\",\"Location\":\"Uttrecht\"}],\"Job2\":[{\"Name\":\"Alan\",\"Surname\":\"Senka\",\"Location\":\"Lushnje\"},{\"Name\":\"Alan\",\"Surname\":\"Senka\",\"Location\":\"Porto Ferrario\"},{\"Name\":\"Alan\",\"Surname\":\"Senka\",\"Location\":\"Milan\"}],\"Job3\":[{\"Name\":\"Leo\",\"Surname\":\"Senka\",\"Location\":\"Lushnje\"},{\"Name\":\"Leo\",\"Surname\":\"Senka\",\"Location\":\"Porto Azurro\"},{\"Name\":\"Leo\",\"Surname\":\"Senka\",\"Location\":\"Firenze\"}]}",
        "payloadType": "json",
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "18d92b8c.7aa7a4",
                "fab60501.3f6bf8"
            ]
        ]
    },
    {
        "id": "7dcb7e47.17f27",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello Mr.",
        "payloadType": "str",
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "6468d640.02f628"
            ]
        ]
    },
    {
        "id": "a73b5913.204298",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Vasiu",
        "payloadType": "str",
        "x": 170,
        "y": 1380,
        "wires": [
            [
                "6468d640.02f628"
            ]
        ]
    },
    {
        "id": "d930a4f0.16ad28",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Senka",
        "payloadType": "str",
        "x": 170,
        "y": 1420,
        "wires": [
            [
                "6468d640.02f628"
            ]
        ]
    },
    {
        "id": "6468d640.02f628",
        "type": "join",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 1360,
        "wires": [
            [
                "fa8e3419.984998"
            ]
        ]
    },
    {
        "id": "fa8e3419.984998",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1360,
        "wires": []
    },
    {
        "id": "670a4575.68c12c",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1500,
        "wires": [
            [
                "2362511c.1d5fce"
            ]
        ]
    },
    {
        "id": "2362511c.1d5fce",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "msg.complete",
        "func": "msg.complete = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 1500,
        "wires": [
            [
                "6468d640.02f628"
            ]
        ]
    },
    {
        "id": "f7f5f022.a2662",
        "type": "inject",
        "z": "bded3231.e0ba2",
        "name": "Payload1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Payload1",
        "payload": "{\"Name\":\"John\",\"City\":\"London\",\"Age\":26,\"Education\":{\"Master\":\"Mechatronics\",\"Bachelor\":\"Instrumentation\",\"Diploma\":\"Automation\"}}",
        "payloadType": "json",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "2336aa06.4a14d6"
            ]
        ]
    },
    {
        "id": "8144ab4a.c58a98",
        "type": "inject",
        "z": "bded3231.e0ba2",
        "name": "Payload2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Payload2",
        "payload": "{\"Name\":\"Jessica\",\"City\":\"Australia\",\"Age\":27,\"Education\":{\"Master\":\"Chemistry\",\"Bachelor\":\"Medical Science\",\"Diploma\":\"Automation\"}}",
        "payloadType": "json",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "2336aa06.4a14d6"
            ]
        ]
    },
    {
        "id": "2166ce2c.71dbb2",
        "type": "inject",
        "z": "bded3231.e0ba2",
        "name": "Payload3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Payload3",
        "payload": "{\"Name\":\"David\",\"City\":\"Germany\",\"Age\":25,\"Education\":{\"Master\":\"Automative\",\"Bachelor\":\"Production\",\"Diploma\":\"Electronics\"}}",
        "payloadType": "json",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "2336aa06.4a14d6"
            ]
        ]
    },
    {
        "id": "2336aa06.4a14d6",
        "type": "join",
        "z": "bded3231.e0ba2",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload.Name",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "45a38cf0.8ae164"
            ]
        ]
    },
    {
        "id": "9490259e.55e428",
        "type": "debug",
        "z": "bded3231.e0ba2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 20,
        "wires": []
    },
    {
        "id": "45a38cf0.8ae164",
        "type": "change",
        "z": "bded3231.e0ba2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Info",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "9490259e.55e428",
                "c2957830.7248c8",
                "d3f7c71c.c8d6e8",
                "eed1fbd8.43d0f8",
                "f07afa54.97a0f8",
                "bdf735c0.351c48",
                "f3776014.c273b",
                "1c302a03.9d3b36",
                "108c944.93fa26c",
                "a207777e.dd2dc8"
            ]
        ]
    },
    {
        "id": "c2957830.7248c8",
        "type": "function",
        "z": "bded3231.e0ba2",
        "name": "Name2",
        "func": "msg.payload = msg.payload[1].Name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 833.2244148254395,
        "y": 109.30118942260742,
        "wires": [
            [
                "f5469777.9884a8"
            ]
        ]
    },
    {
        "id": "d3f7c71c.c8d6e8",
        "type": "function",
        "z": "bded3231.e0ba2",
        "name": "Name3",
        "func": "msg.payload = msg.payload[2].Name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 832.2244148254395,
        "y": 158.30118942260742,
        "wires": [
            [
                "2e0e3462.1c66cc"
            ]
        ]
    },
    {
        "id": "eed1fbd8.43d0f8",
        "type": "function",
        "z": "bded3231.e0ba2",
        "name": "Age2",
        "func": "msg.payload = msg.payload[1].Age;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 829.4516983032227,
        "y": 404.6762065887451,
        "wires": [
            [
                "f5469777.9884a8"
            ]
        ]
    },
    {
        "id": "f07afa54.97a0f8",
        "type": "function",
        "z": "bded3231.e0ba2",
        "name": "Age3",
        "func": "msg.payload = msg.payload[2].Age;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 831.4517440795898,
        "y": 451.6761703491211,
        "wires": [
            [
                "2e0e3462.1c66cc"
            ]
        ]
    },
    {
        "id": "2e0e3462.1c66cc",
        "type": "join",
        "z": "bded3231.e0ba2",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1023.2244262695312,
        "y": 391.3011779785156,
        "wires": [
            [
                "1cb6d4fa.baf26b"
            ]
        ]
    },
    {
        "id": "26d451f2.1b0d8e",
        "type": "debug",
        "z": "bded3231.e0ba2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1387.2241983413696,
        "y": 390.3011665344238,
        "wires": []
    },
    {
        "id": "bdf735c0.351c48",
        "type": "function",
        "z": "bded3231.e0ba2",
        "name": "City2",
        "func": "msg.payload = msg.payload[1].City;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 826.4517269134521,
        "y": 256.6761932373047,
        "wires": [
            [
                "f5469777.9884a8"
            ]
        ]
    },
    {
        "id": "f3776014.c273b",
        "type": "function",
        "z": "bded3231.e0ba2",
        "name": "City3",
        "func": "msg.payload = msg.payload[2].City;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 825.4517269134521,
        "y": 305.6761932373047,
        "wires": [
            [
                "2e0e3462.1c66cc"
            ]
        ]
    },
    {
        "id": "f5469777.9884a8",
        "type": "join",
        "z": "bded3231.e0ba2",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1026.2244262695312,
        "y": 240.30117225646973,
        "wires": [
            [
                "951ba726.bf8b18"
            ]
        ]
    },
    {
        "id": "951ba726.bf8b18",
        "type": "debug",
        "z": "bded3231.e0ba2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1187.2300930023193,
        "y": 241.5370101928711,
        "wires": []
    },
    {
        "id": "1cb6d4fa.baf26b",
        "type": "change",
        "z": "bded3231.e0ba2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload[1]",
                "pt": "msg",
                "to": "30",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1196.9970436096191,
        "y": 389.8068161010742,
        "wires": [
            [
                "26d451f2.1b0d8e"
            ]
        ]
    },
    {
        "id": "1c302a03.9d3b36",
        "type": "function",
        "z": "bded3231.e0ba2",
        "name": "Name1",
        "func": "msg.payload = msg.payload[0].Name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 840,
        "y": 60,
        "wires": [
            [
                "550967f5.2e8af8"
            ]
        ]
    },
    {
        "id": "108c944.93fa26c",
        "type": "function",
        "z": "bded3231.e0ba2",
        "name": "City1",
        "func": "msg.payload = msg.payload[0].City;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 200,
        "wires": [
            [
                "550967f5.2e8af8"
            ]
        ]
    },
    {
        "id": "a207777e.dd2dc8",
        "type": "function",
        "z": "bded3231.e0ba2",
        "name": "Age1",
        "func": "msg.payload = msg.payload[0].Age;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 360,
        "wires": [
            [
                "550967f5.2e8af8"
            ]
        ]
    },
    {
        "id": "3627ca9f.d61046",
        "type": "debug",
        "z": "bded3231.e0ba2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 100,
        "wires": []
    },
    {
        "id": "550967f5.2e8af8",
        "type": "join",
        "z": "bded3231.e0ba2",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1010,
        "y": 80,
        "wires": [
            [
                "3627ca9f.d61046"
            ]
        ]
    },
    {
        "id": "a3d87f36.783d3",
        "type": "inject",
        "z": "12e0a2fb.e07ebd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "eb93b3dc.054fb"
            ]
        ]
    },
    {
        "id": "eb93b3dc.054fb",
        "type": "random",
        "z": "12e0a2fb.e07ebd",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "b601d067.42b2f"
            ]
        ]
    },
    {
        "id": "b601d067.42b2f",
        "type": "join",
        "z": "12e0a2fb.e07ebd",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "4ff130b3.79d96"
            ]
        ]
    },
    {
        "id": "4ff130b3.79d96",
        "type": "sort",
        "z": "12e0a2fb.e07ebd",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 770,
        "y": 180,
        "wires": [
            [
                "ed2e9f27.8abfd"
            ]
        ]
    },
    {
        "id": "ed2e9f27.8abfd",
        "type": "debug",
        "z": "12e0a2fb.e07ebd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "e82d8944.bc9388",
        "type": "inject",
        "z": "12e0a2fb.e07ebd",
        "name": "Sensor_input_simulation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4ed1fa54.2ae6d4",
        "type": "random",
        "z": "12e0a2fb.e07ebd",
        "name": "",
        "low": "1",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "58cd2970.e6f038"
            ]
        ]
    },
    {
        "id": "58cd2970.e6f038",
        "type": "delay",
        "z": "12e0a2fb.e07ebd",
        "name": "",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "f57cd3ed.46c44"
            ]
        ]
    },
    {
        "id": "a69d9657.6c57e8",
        "type": "debug",
        "z": "12e0a2fb.e07ebd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "f57cd3ed.46c44",
        "type": "rbe",
        "z": "12e0a2fb.e07ebd",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "a69d9657.6c57e8"
            ]
        ]
    },
    {
        "id": "4b6c7bec.ee01a4",
        "type": "inject",
        "z": "cc83cb19.0ac2b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "count",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "7c2d08b8.e211b8"
            ]
        ]
    },
    {
        "id": "7c2d08b8.e211b8",
        "type": "function",
        "z": "cc83cb19.0ac2b8",
        "name": "context data",
        "func": "//Reseting counting\nif (msg.topic == \"reset\")\n{\ncontext.set('abc',msg.payload);\n}\n\n//Counting\nif (msg.topic == \"count\")\n{\n    var count = context.get ('abc')||0;\n    count = count +1;\n//retrieving the data\ncontext.set('abc',count);\nmsg.payload = count;\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "f96a4e4b.60a5e"
            ]
        ]
    },
    {
        "id": "f96a4e4b.60a5e",
        "type": "debug",
        "z": "cc83cb19.0ac2b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "687d06e8.8e2638",
        "type": "inject",
        "z": "cc83cb19.0ac2b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "-1",
        "payloadType": "num",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "7c2d08b8.e211b8"
            ]
        ]
    },
    {
        "id": "d60e743d.1609e8",
        "type": "inject",
        "z": "cc83cb19.0ac2b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "23",
        "payloadType": "num",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "83d87d0b.3fd09"
            ]
        ]
    },
    {
        "id": "83d87d0b.3fd09",
        "type": "function",
        "z": "cc83cb19.0ac2b8",
        "name": "Store data",
        "func": "global.set ('var1',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9f59cb95.807708",
        "type": "inject",
        "z": "cc83cb19.0ac2b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "83d87d0b.3fd09"
            ]
        ]
    },
    {
        "id": "d891751a.655868",
        "type": "inject",
        "z": "cc83cb19.0ac2b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "ce0015dd.843d18"
            ]
        ]
    },
    {
        "id": "ce0015dd.843d18",
        "type": "function",
        "z": "cc83cb19.0ac2b8",
        "name": "",
        "func": "msg.payload=global.get('var1');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "dd199db3.90c11"
            ]
        ]
    },
    {
        "id": "dd199db3.90c11",
        "type": "debug",
        "z": "cc83cb19.0ac2b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "d39a9a0e.45e9f8",
        "type": "inject",
        "z": "cc83cb19.0ac2b8",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "216c8862.02f518"
            ]
        ]
    },
    {
        "id": "216c8862.02f518",
        "type": "function",
        "z": "cc83cb19.0ac2b8",
        "name": "Reset variable 'var1'",
        "func": "global.set ('var1',0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7de56176.faf75",
        "type": "inject",
        "z": "70191b0f.1b0ea4",
        "name": "Increment",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "countup",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "fa10e902.788428"
            ]
        ]
    },
    {
        "id": "fa10e902.788428",
        "type": "function",
        "z": "70191b0f.1b0ea4",
        "name": "context data",
        "func": "//Reseting counting\nif (msg.topic == \"reset\")\n{\ncontext.set('abc',msg.payload);\nreturn msg;\n}\n\n//Counting up\nif (msg.topic == \"countup\")\n{\n    var countup = context.get ('abc')||9;\n    if (countup<20)\n    {\n    countup = countup + 1;\n    }\n//retrieving the data\ncontext.set('abc',countup);\nmsg.payload = countup;\nreturn msg;\n}\n\n//Counting down\nif (msg.topic == \"countdown\")\n{\n    var countdown = context.get ('abc')||9;\n    if (countdown > 10)\n    {\n    countdown = countdown - 1;\n    }\n//retrieving the data\ncontext.set('abc',countdown);\nmsg.payload = countdown;\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "a89b9e5f.34103"
            ]
        ]
    },
    {
        "id": "a89b9e5f.34103",
        "type": "debug",
        "z": "70191b0f.1b0ea4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "784cbe56.1774",
        "type": "inject",
        "z": "70191b0f.1b0ea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "10",
        "payloadType": "num",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "fa10e902.788428"
            ]
        ]
    },
    {
        "id": "f2abadc2.f8d27",
        "type": "inject",
        "z": "70191b0f.1b0ea4",
        "name": "Decrement",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "countdown",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "fa10e902.788428"
            ]
        ]
    },
    {
        "id": "a75203fb.cb1fc",
        "type": "function",
        "z": "cd246ae6.279458",
        "name": "context",
        "func": "//Reseting the count\nif (msg.topic == \"reset\")\n{\n    context.set('abc',msg.payload); // to store a variable\n    return msg;\n    \n}\n\n//Retrieving the data\nif (msg.topic == \"increment\")\n{\n    var count=context.get('abc')||9;\n    //Count is increment with +1\n    if (count < 20)\n    {\n    count = count +1;\n    }\n    //Setting the data\n    context.set('abc',count); // to store a variable\n    msg.payload = count;\n    return msg;\n}\n\nif (msg.topic == \"decrement\")\n{\n    var count=context.get('abc')||9;\n    //Count is increment with +1\n    if (count > 10)\n    {\n    count = count -1;\n    }\n    //Setting the data\n    context.set('abc',count); // to store a variable\n    msg.payload = count;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 329.0142517089844,
        "y": 163.00565147399902,
        "wires": [
            [
                "ac993b84.e13268"
            ]
        ]
    },
    {
        "id": "c98deaf3.215ce8",
        "type": "inject",
        "z": "cd246ae6.279458",
        "name": "Increment",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "increment",
        "payload": "",
        "payloadType": "date",
        "x": 132.01422500610352,
        "y": 119.6648063659668,
        "wires": [
            [
                "a75203fb.cb1fc"
            ]
        ]
    },
    {
        "id": "ac993b84.e13268",
        "type": "debug",
        "z": "cd246ae6.279458",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 524.0228118896484,
        "y": 162.44030380249023,
        "wires": []
    },
    {
        "id": "8fb5e1d5.b24e2",
        "type": "comment",
        "z": "cd246ae6.279458",
        "name": "Task 1",
        "info": "",
        "x": 99.24435043334961,
        "y": 75.74720191955566,
        "wires": []
    },
    {
        "id": "adc6291e.27ffc8",
        "type": "inject",
        "z": "cd246ae6.279458",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "10",
        "payloadType": "num",
        "x": 133.02559661865234,
        "y": 163.9204387664795,
        "wires": [
            [
                "a75203fb.cb1fc"
            ]
        ]
    },
    {
        "id": "c98ccab4.4d7be8",
        "type": "inject",
        "z": "cd246ae6.279458",
        "name": "Decrement",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "decrement",
        "payload": "",
        "payloadType": "date",
        "x": 136.01421737670898,
        "y": 212.0056667327881,
        "wires": [
            [
                "a75203fb.cb1fc"
            ]
        ]
    },
    {
        "id": "dbd1d3d2.900d6",
        "type": "comment",
        "z": "cd246ae6.279458",
        "name": "Task 2",
        "info": "",
        "x": 110.01420593261719,
        "y": 378.00565099716187,
        "wires": []
    },
    {
        "id": "44a5649f.ba2dec",
        "type": "inject",
        "z": "cd246ae6.279458",
        "name": "Set a",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 131.01420211791992,
        "y": 425.00567626953125,
        "wires": [
            [
                "dceec78f.d1a928"
            ]
        ]
    },
    {
        "id": "131a963.397d56a",
        "type": "function",
        "z": "cd246ae6.279458",
        "name": "x = a + 2b + 3c",
        "func": "var a = global.get('a')|| 0;\nvar b = global.get('b')|| 0;\nvar c = global.get('c')|| 0;\n\nx = a + 2*b + 3*c;\nmsg.payload = x\nglobal.set('x', x)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 333.0142574310303,
        "y": 615.0056409835815,
        "wires": [
            [
                "9c9a7d1a.d7d13"
            ]
        ]
    },
    {
        "id": "62773f1b.b2259",
        "type": "function",
        "z": "cd246ae6.279458",
        "name": "y = 3a + 2b  3c",
        "func": "var a = global.get('a')|| 0;\nvar b = global.get('b')|| 0;\nvar c = global.get('c')|| 0;\n\ny = 3*a + 2*b - 3*c;\nmsg.payload = y\nglobal.set('y', y)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 332.0142822265625,
        "y": 673.0056629180908,
        "wires": [
            [
                "9c9a7d1a.d7d13"
            ]
        ]
    },
    {
        "id": "dceec78f.d1a928",
        "type": "random",
        "z": "cd246ae6.279458",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 300.78409576416016,
        "y": 423.81245613098145,
        "wires": [
            [
                "6129b61f.238e68"
            ]
        ]
    },
    {
        "id": "6129b61f.238e68",
        "type": "function",
        "z": "cd246ae6.279458",
        "name": "Set a",
        "func": "global.set('a', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 455.01422119140625,
        "y": 424.00567626953125,
        "wires": [
            [
                "f223c90e.f79a08"
            ]
        ]
    },
    {
        "id": "dfd8f5d3.c39578",
        "type": "inject",
        "z": "cd246ae6.279458",
        "name": "Set b",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 136.0142059326172,
        "y": 475.00567626953125,
        "wires": [
            [
                "adb0ff79.d5573"
            ]
        ]
    },
    {
        "id": "adb0ff79.d5573",
        "type": "random",
        "z": "cd246ae6.279458",
        "name": "",
        "low": "20",
        "high": "30",
        "inte": "true",
        "property": "payload",
        "x": 305.7840995788574,
        "y": 473.81245613098145,
        "wires": [
            [
                "660b3229.5ff7fc"
            ]
        ]
    },
    {
        "id": "660b3229.5ff7fc",
        "type": "function",
        "z": "cd246ae6.279458",
        "name": "Set b",
        "func": "global.set('b', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460.0142288208008,
        "y": 474.00565814971924,
        "wires": [
            [
                "f223c90e.f79a08"
            ]
        ]
    },
    {
        "id": "f4a0bbed.ae23b8",
        "type": "inject",
        "z": "cd246ae6.279458",
        "name": "Set c",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135.0142059326172,
        "y": 531.0056762695312,
        "wires": [
            [
                "4ea66a38.0d0984"
            ]
        ]
    },
    {
        "id": "4ea66a38.0d0984",
        "type": "random",
        "z": "cd246ae6.279458",
        "name": "",
        "low": "1",
        "high": "5",
        "inte": "true",
        "property": "payload",
        "x": 304.7840995788574,
        "y": 529.8124561309814,
        "wires": [
            [
                "dd9506cf.497ef8"
            ]
        ]
    },
    {
        "id": "dd9506cf.497ef8",
        "type": "function",
        "z": "cd246ae6.279458",
        "name": "Set b",
        "func": "global.set('c', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 459.0142250061035,
        "y": 530.0056762695312,
        "wires": [
            [
                "f223c90e.f79a08"
            ]
        ]
    },
    {
        "id": "d57022f7.e9a5e",
        "type": "inject",
        "z": "cd246ae6.279458",
        "name": "Solve x",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 138.0142059326172,
        "y": 616.0056762695312,
        "wires": [
            [
                "131a963.397d56a"
            ]
        ]
    },
    {
        "id": "e5c2151f.ada498",
        "type": "inject",
        "z": "cd246ae6.279458",
        "name": "Solve y",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 143.0142059326172,
        "y": 672.0056762695312,
        "wires": [
            [
                "62773f1b.b2259"
            ]
        ]
    },
    {
        "id": "f223c90e.f79a08",
        "type": "debug",
        "z": "cd246ae6.279458",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 649.7812767028809,
        "y": 470.89202880859375,
        "wires": []
    },
    {
        "id": "9c9a7d1a.d7d13",
        "type": "debug",
        "z": "cd246ae6.279458",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 584.0142316818237,
        "y": 641.0056533813477,
        "wires": []
    },
    {
        "id": "5e41b65b.8318a8",
        "type": "inject",
        "z": "70191b0f.1b0ea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 460,
        "wires": [
            [
                "abd895f9.a12748",
                "939780d8.8b049",
                "7bd3ea5e.aca8a4"
            ]
        ]
    },
    {
        "id": "abd895f9.a12748",
        "type": "random",
        "z": "70191b0f.1b0ea4",
        "name": "a",
        "low": "1",
        "high": "10",
        "inte": "true",
        "property": "a",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "648a30ce.c7fdc"
            ]
        ]
    },
    {
        "id": "939780d8.8b049",
        "type": "random",
        "z": "70191b0f.1b0ea4",
        "name": "b",
        "low": "20",
        "high": "30",
        "inte": "true",
        "property": "b",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "b89f81d9.0f154"
            ]
        ]
    },
    {
        "id": "7bd3ea5e.aca8a4",
        "type": "random",
        "z": "70191b0f.1b0ea4",
        "name": "c",
        "low": "1",
        "high": "5",
        "inte": "true",
        "property": "c",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "b67371d3.7162d"
            ]
        ]
    },
    {
        "id": "648a30ce.c7fdc",
        "type": "function",
        "z": "70191b0f.1b0ea4",
        "name": "set a",
        "func": "global.set('a',msg.a);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b89f81d9.0f154",
        "type": "function",
        "z": "70191b0f.1b0ea4",
        "name": "set b",
        "func": "global.set('b',msg.b);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b67371d3.7162d",
        "type": "function",
        "z": "70191b0f.1b0ea4",
        "name": "set c",
        "func": "global.set('c',msg.c);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "37c8e283.8f815e",
        "type": "inject",
        "z": "70191b0f.1b0ea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "d904f1a4.1133"
            ]
        ]
    },
    {
        "id": "3f390cab.af5804",
        "type": "inject",
        "z": "70191b0f.1b0ea4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 700,
        "wires": [
            [
                "7d0751f1.dfc78"
            ]
        ]
    },
    {
        "id": "d904f1a4.1133",
        "type": "function",
        "z": "70191b0f.1b0ea4",
        "name": "solve x",
        "func": "var a = global.get ('a') || 0;\nvar b = global.get ('b')|| 0;\nvar c = global.get ('c')|| 0;\nvar x = a + 2*b+3*c;\nmsg.payload = x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 620,
        "wires": [
            [
                "dd97b191.3840c"
            ]
        ]
    },
    {
        "id": "dd97b191.3840c",
        "type": "debug",
        "z": "70191b0f.1b0ea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 620,
        "wires": []
    },
    {
        "id": "7d0751f1.dfc78",
        "type": "function",
        "z": "70191b0f.1b0ea4",
        "name": "solve y",
        "func": "var a = global.get ('a') || 0;\nvar b = global.get ('b')|| 0;\nvar c = global.get ('c')|| 0;\nvar y = 3*a + 2*b - 3*c;\nmsg.payload = y;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 700,
        "wires": [
            [
                "dd97b191.3840c"
            ]
        ]
    }
]