flow_2.json
[
    {
        "id": "2a91a2c0.52a6fe",
        "type": "tab",
        "label": "Learning Node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9ce7e5e.0731118",
        "type": "tab",
        "label": "Exercise1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bded3231.e0ba2",
        "type": "tab",
        "label": "Exercise2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7d9f1eaf.4ead8",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "2bd0ec04.889834",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Name\":\"Evis\",\"Surname\":\"Vasiu\",\"Info\":{\"Hobby\":\"Runnnig\",\"Age\":\"30\",\"Job\":\"Engineer\"}}",
        "payloadType": "json",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "9aac4a90.31dc98",
                "a0d54ac5.630788",
                "c3918434.51d108"
            ]
        ]
    },
    {
        "id": "9aac4a90.31dc98",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "Extracting Name",
        "func": "msg.payload = msg.payload.Name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "7d9f1eaf.4ead8"
            ]
        ]
    },
    {
        "id": "c3918434.51d108",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "Extracting Age",
        "func": "msg.payload = msg.payload.Info.Age;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "c49315d6.e5da28"
            ]
        ]
    },
    {
        "id": "c49315d6.e5da28",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "a0d54ac5.630788",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "Name lenth",
        "func": "msg.payload = msg.payload.Name.length;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "6243d9bd.364e48"
            ]
        ]
    },
    {
        "id": "6243d9bd.364e48",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "1fad8a61.c65a26",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "e4da9165.f2de4"
            ]
        ]
    },
    {
        "id": "4797889f.b1d518",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "e4da9165.f2de4",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "Multiple messages",
        "func": "var msg1 = {payload : \"Evis\"};\nvar msg2 = {payload : \"Vasiu\"};\nvar msg3 = {payload : \"Engineer\"};\nvar msg4 = {payload : \"Running\"};\n\nreturn [msg1, msg2, msg3, msg4];\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "4797889f.b1d518"
            ],
            [
                "98349a6b.eab548"
            ],
            [
                "163520.2ff43ae1"
            ],
            [
                "41a3e4ac.dccbec"
            ]
        ]
    },
    {
        "id": "98349a6b.eab548",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "163520.2ff43ae1",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "41a3e4ac.dccbec",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "b57b8f05.81351",
        "type": "inject",
        "z": "9ce7e5e.0731118",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "88555e0.0deb2a"
            ]
        ]
    },
    {
        "id": "88555e0.0deb2a",
        "type": "function",
        "z": "9ce7e5e.0731118",
        "name": "2A+50",
        "func": "msg.payload = msg.payload * 2 +50;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "edc2dfa2.71c17"
            ]
        ]
    },
    {
        "id": "edc2dfa2.71c17",
        "type": "function",
        "z": "9ce7e5e.0731118",
        "name": "",
        "func": "if (msg.payload > 100)\n{\n    msg.payload = true;\n    \n}\nelse\n{\n    msg.payload = false;\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "f11200f5.c6287"
            ]
        ]
    },
    {
        "id": "f11200f5.c6287",
        "type": "debug",
        "z": "9ce7e5e.0731118",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "cb895b32.508398",
        "type": "inject",
        "z": "9ce7e5e.0731118",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "966fea28.9dd478"
            ]
        ]
    },
    {
        "id": "966fea28.9dd478",
        "type": "function",
        "z": "9ce7e5e.0731118",
        "name": "",
        "func": "var msg1 = {payload : \"Hello World\"};\nvar msg2 = {payload : \"Node-RED is fun\"};\nvar msg3 = {payload : \"Thank you Dr.Code for the exercise\"};\nvar msg4 = {payload : \"Let's move on the next lextre\"};\n\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "f3bb44d4.b52028"
            ],
            [
                "e2c20c63.f6ecd"
            ],
            [
                "4e11c279.9288ac"
            ],
            [
                "b0dc2238.6e989"
            ]
        ]
    },
    {
        "id": "f3bb44d4.b52028",
        "type": "debug",
        "z": "9ce7e5e.0731118",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "e2c20c63.f6ecd",
        "type": "debug",
        "z": "9ce7e5e.0731118",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "4e11c279.9288ac",
        "type": "debug",
        "z": "9ce7e5e.0731118",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "b0dc2238.6e989",
        "type": "debug",
        "z": "9ce7e5e.0731118",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "8e58732d.98ca5",
        "type": "inject",
        "z": "9ce7e5e.0731118",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "19",
        "payloadType": "num",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "88555e0.0deb2a"
            ]
        ]
    },
    {
        "id": "bdc46744.b21948",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Evis",
        "payloadType": "str",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "c8a3afd6.ca467"
            ]
        ]
    },
    {
        "id": "2334919f.46c65e",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "John",
        "payloadType": "str",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "c8a3afd6.ca467"
            ]
        ]
    },
    {
        "id": "c8a3afd6.ca467",
        "type": "switch",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Evis",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "John",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "5753d3c4.637e1c"
            ],
            [
                "5753d3c4.637e1c"
            ]
        ]
    },
    {
        "id": "5753d3c4.637e1c",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "func": "if (msg.payload == \"Evis\")\n{\n    var msg1 = {payload : \"Hello Evis\"};\n    return [msg1];\n    \n}\nif (msg.payload == \"John\")\n{\n    var msg2 = {payload : \"Hello John\"};\n    return [msg2];\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 560,
        "wires": [
            [
                "6a3f1c2b.60bc14"
            ]
        ]
    },
    {
        "id": "6a3f1c2b.60bc14",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "404a338d.a9a2ac",
        "type": "change",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Goodmorning",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 740,
        "wires": [
            [
                "63c48035.e08"
            ]
        ]
    },
    {
        "id": "9814069e.beaac8",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Ckemi",
        "payloadType": "str",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "404a338d.a9a2ac",
                "b764014f.fe919"
            ]
        ]
    },
    {
        "id": "63c48035.e08",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "b764014f.fe919",
        "type": "change",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Hello",
                "fromt": "str",
                "to": "Goodevening",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 800,
        "wires": [
            [
                "99b483eb.5b39e"
            ]
        ]
    },
    {
        "id": "dbaac3c6.431c5",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "b764014f.fe919"
            ]
        ]
    },
    {
        "id": "99b483eb.5b39e",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "96e02ac7.cda5c8",
        "type": "change",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 880,
        "wires": [
            [
                "972a3750.8d8c28"
            ]
        ]
    },
    {
        "id": "aa0d2749.b8fa88",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "plako",
        "payload": "Ckemi",
        "payloadType": "str",
        "x": 180,
        "y": 880,
        "wires": [
            [
                "96e02ac7.cda5c8"
            ]
        ]
    },
    {
        "id": "972a3750.8d8c28",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 880,
        "wires": []
    },
    {
        "id": "d1a6c24b.e309a",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello Mr. Vasiu",
        "payloadType": "str",
        "x": 190,
        "y": 960,
        "wires": [
            [
                "61954e0f.2d764",
                "6a7fdedc.5fab6"
            ]
        ]
    },
    {
        "id": "61954e0f.2d764",
        "type": "split",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 430,
        "y": 960,
        "wires": [
            [
                "845822cc.9b97"
            ]
        ]
    },
    {
        "id": "845822cc.9b97",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 980,
        "wires": []
    },
    {
        "id": "6a7fdedc.5fab6",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b5829e2c.13cbc",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "json",
        "payload": "{\"Location\":\"Tirana\",\"Name\":\"Evis\",\"Surname\":\"Vasiu\"}",
        "payloadType": "json",
        "x": 160,
        "y": 1160,
        "wires": [
            [
                "fab60501.3f6bf8",
                "18d92b8c.7aa7a4"
            ]
        ]
    },
    {
        "id": "5171db1.0dc7e24",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "fab60501.3f6bf8",
        "type": "split",
        "z": "2a91a2c0.52a6fe",
        "name": "jSON",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "info",
        "x": 360,
        "y": 1160,
        "wires": [
            [
                "5171db1.0dc7e24"
            ]
        ]
    },
    {
        "id": "18d92b8c.7aa7a4",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1200,
        "wires": []
    },
    {
        "id": "9e34cd66.2219e",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "Json",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Job1\":[{\"Name\":\"Evis\",\"Surname\":\"Vasiu\",\"Location\":\"Lushnje\"},{\"Name\":\"Evis\",\"Surname\":\"Vasiu\",\"Location\":\"Tirana\"},{\"Name\":\"Evis\",\"Surname\":\"Vasiu\",\"Location\":\"Uttrecht\"}],\"Job2\":[{\"Name\":\"Alan\",\"Surname\":\"Senka\",\"Location\":\"Lushnje\"},{\"Name\":\"Alan\",\"Surname\":\"Senka\",\"Location\":\"Porto Ferrario\"},{\"Name\":\"Alan\",\"Surname\":\"Senka\",\"Location\":\"Milan\"}],\"Job3\":[{\"Name\":\"Leo\",\"Surname\":\"Senka\",\"Location\":\"Lushnje\"},{\"Name\":\"Leo\",\"Surname\":\"Senka\",\"Location\":\"Porto Azurro\"},{\"Name\":\"Leo\",\"Surname\":\"Senka\",\"Location\":\"Firenze\"}]}",
        "payloadType": "json",
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "18d92b8c.7aa7a4",
                "fab60501.3f6bf8"
            ]
        ]
    },
    {
        "id": "7dcb7e47.17f27",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello Mr.",
        "payloadType": "str",
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "6468d640.02f628"
            ]
        ]
    },
    {
        "id": "a73b5913.204298",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Vasiu",
        "payloadType": "str",
        "x": 170,
        "y": 1380,
        "wires": [
            [
                "6468d640.02f628"
            ]
        ]
    },
    {
        "id": "d930a4f0.16ad28",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Senka",
        "payloadType": "str",
        "x": 170,
        "y": 1420,
        "wires": [
            [
                "6468d640.02f628"
            ]
        ]
    },
    {
        "id": "6468d640.02f628",
        "type": "join",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 1360,
        "wires": [
            [
                "fa8e3419.984998"
            ]
        ]
    },
    {
        "id": "fa8e3419.984998",
        "type": "debug",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1360,
        "wires": []
    },
    {
        "id": "670a4575.68c12c",
        "type": "inject",
        "z": "2a91a2c0.52a6fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1500,
        "wires": [
            [
                "2362511c.1d5fce"
            ]
        ]
    },
    {
        "id": "2362511c.1d5fce",
        "type": "function",
        "z": "2a91a2c0.52a6fe",
        "name": "msg.complete",
        "func": "msg.complete = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 1500,
        "wires": [
            [
                "6468d640.02f628"
            ]
        ]
    },
    {
        "id": "f7f5f022.a2662",
        "type": "inject",
        "z": "bded3231.e0ba2",
        "name": "Payload1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Info",
        "payload": "{\"Name\":\"John\",\"City\":\"London\",\"Age\":\"26\",\"Education\":{\"Master\":\"Mechatronics\",\"Bachelor\":\"Instrumentation\",\"Diploma\":\"Automation\"}}",
        "payloadType": "json",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "2336aa06.4a14d6"
            ]
        ]
    },
    {
        "id": "8144ab4a.c58a98",
        "type": "inject",
        "z": "bded3231.e0ba2",
        "name": "Payload2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Info",
        "payload": "{\"Name\":\"Jessica\",\"City\":\"Australia\",\"Age\":\"27\",\"Education\":{\"Master\":\"Chemistry\",\"Bachelor\":\"Medical Science\",\"Diploma\":\"Automation\"}}",
        "payloadType": "json",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "2336aa06.4a14d6"
            ]
        ]
    },
    {
        "id": "2166ce2c.71dbb2",
        "type": "inject",
        "z": "bded3231.e0ba2",
        "name": "Payload3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Info",
        "payload": "{\"Name\":\"David\",\"City\":\"Germany\",\"Age\":\"25\",\"Education\":{\"Master\":\"Automative\",\"Bachelor\":\"Production\",\"Diploma\":\"Electronics\"}}",
        "payloadType": "json",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "2336aa06.4a14d6",
                "f2d26878.96df38"
            ]
        ]
    },
    {
        "id": "2336aa06.4a14d6",
        "type": "join",
        "z": "bded3231.e0ba2",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload.Name",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "f514764b.54cac8"
            ]
        ]
    },
    {
        "id": "f514764b.54cac8",
        "type": "debug",
        "z": "bded3231.e0ba2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "dc0a80d7.cc3f1",
        "type": "debug",
        "z": "bded3231.e0ba2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "f2d26878.96df38",
        "type": "change",
        "z": "bded3231.e0ba2",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\"David\"",
                "fromt": "str",
                "to": "\"Visi\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "dc0a80d7.cc3f1"
            ]
        ]
    }
]